{% extends "base.html" %}
{% block title %}Home - Imaginex{% endblock %}

{% block content %}
<!--Banner Starts Here-->
<div class="mt-[25px] w-[100%] flex flex-wrap justify-center">
    <div class="md:flex px-2 py-2 bg-black border-2 border-slate-800 rounded-2xl overflow-hidden">
        <div class="md:w-96">
            <img class="w-full h-80 object-cover md:h-full" src="https://media.istockphoto.com/id/1448152453/vector/big-data-technology-and-data-science-illustration-data-flow-concept-querying-analysing.jpg?s=612x612&w=0&k=20&c=To0lhCrVmDYdSkOUOGxGsjlYe0buj_wwGCDqYhF9p2o=" alt="Banner Image">
        </div>
        <div class="hidden md:block md:ml-[15px] md:h-full md:border-l-4 md:border-white md:rounded-2xl md:mr-[5px]"></div>
        <div class="flex justify-center items-center">
            <div class="text-white font-sans max-w-xs text-center">
                <p class="text-2xl font-bold md:text-center">Welcome to Imaginex</p>
                <p class="mt-[35px] text-pretty">"Imaginex: Your gateway to boundless creativity. Harnessing cutting-edge text-to-image generative AI, Imaginex transforms your words into stunning visual masterpieces. From vivid landscapes to intricate designs, unlock the power of imagination with ease. Explore the limitless possibilities and bring your ideas to life like never before with Imaginex."</p>
            </div>
        </div>
    </div>
</div>
<!--Banner Ends Here-->
<!--Services-->
<div class="mt-[30px] h-auto w-[100%] flex flex-wrap flex-col items-center text-center p-4 ">
    <div class="mt-[55px] w-[90%] h-auto flex flex-wrap justify-around border-4 border-slate-600 bg-zinc-800 rounded-2xl">
        <!--Card-1-->
        <div class="mt-[50px] w-64 flex flex-col items-center mb-12 border-white border-2 rounded-xl p-2 bg-black">
            <img src="https://media.istockphoto.com/id/1452604857/photo/businessman-touching-the-brain-working-of-artificial-intelligence-automation-predictive.jpg?s=612x612&w=0&k=20&c=GkAOxzduJbUKpS2-LX_l6jSKtyhdKlnPMo2ito4xpR4=" alt="Img">
            <p class="text-white font-bold text-xl">Efficiency</p>
            <p class="text-gray-600 font-bold text-base">Imaginex swiftly translates text into captivating visuals, streamlining content creation and enhancing productivity for users.</p>
        </div>
        <!--Card-2-->
        <div class="mt-[50px] w-64 flex flex-col items-center mb-12 border-white border-2 rounded-xl p-2 bg-black">
            <img src="https://media.istockphoto.com/id/1495043596/vector/electronic-brain-and-concept-of-artificial-intelligence.jpg?s=612x612&w=0&k=20&c=VI2BAuu8CmohyRQSi5znbVubPuYgGvMAyCmG1-sKRjM=" alt="Img">
            <p class="text-white font-bold text-xl">Customization</p>
            <p class="text-gray-600 font-bold text-base">With Imaginex, users enjoy tailored imagery, enabling precise expression of ideas and personalization of visual content.</p>
        </div>
        <!--Card-3-->
        <div class="mt-[50px] w-64 flex flex-col items-center mb-12 border-white border-2 rounded-xl p-2 bg-black">
            <img src="https://media.istockphoto.com/id/1345658982/photo/ai-microprocessor-on-motherboard-computer-circuit.jpg?s=612x612&w=0&k=20&c=Kah6k5RDjasNEzJMjr8kSuYNN5LJ3CKTz4ZGLiCW2Fs=" alt="Img">
            <p class="text-white font-bold text-xl">Innovation</p>
            <p class="text-gray-600 font-bold text-base">Imaginex pioneers advancements in AI-driven creativity, constantly evolving to deliver cutting-edge solutions for diverse needs.</p>
        </div>
        <!--Card-4-->
        <div class="mt-[50px] w-64 flex flex-col items-center mb-12 border-white border-2 rounded-xl p-2 bg-black">
            <img src="https://media.istockphoto.com/id/1306194594/vector/artificial-intelligence-a-microchip-in-the-cyborgs-head.jpg?s=612x612&w=0&k=20&c=v5wXefhuZtOEEmE9KzO5ATuY8xFJOX1BDh2Sd__hAQ4=" alt="Img">
            <p class="text-white font-bold text-xl">Accessibility</p>
            <p class="text-gray-600 font-bold text-base">Imaginex democratizes artistry, empowering users of all skill levels to effortlessly generate stunning visuals with ease.</p>
        </div>
    </div>
</div>


{% endblock %}